 # Day11_Task_Solutions(1929121_Soumayan)

In [1]:
for i in range(1,6):
    pat = "*"*i
    print(pat)

*
**
***
****
*****

In [2]:
for i in range(1,6):
    print("{}".format(i)*i)

1
22
333
4444
55555

In [3]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
p=2
for i in range(1,6):
    for j in range(p,p+i):
        print(j,end=' ')
    print()
    p=p+1

2
3 4
4 5 6
5 6 7 8
6 7 8 9 10

In [5]:
for i in range(1,6):
    for j in range(1,i+1):
        if (i+j)%2:
            print('0',end=' ')
        else:
            print('1',end=' ')
    print()

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [6]:
p = 1
for i in range(1,6):
    for j in range(1,i+1):
        print(p,end=' ')
        p=p+1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [7]:
for i in range(1,6):
    for j in range(1,i+1):
        print(6-j,end=' ')
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [8]:
for i in range(5):
    pat = "*"*(5-i)
    print(pat)

*****
****
***
**
*

In [9]:
for i in range(1,6):
    if i>=3:
        print("{}".format(5-i+1)*(6-i),end='')   
    else:
        print("{}".format(i)*(6-i),end='')
    print()

11111
2222
333
22
1

In [10]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(j,end='')
    print()

12345
1234
123
12
1

In [11]:
for i in range(5,0,-1):
    print(f"{i}"*i)

55555
4444
333
22
1

In [12]:
for i in range(0,5):
    for j in range(5,i,-1):
        print(j,end='')
    print()

54321
5432
543
54
5

In [13]:
for i in range(1,6):
    print(("* "*i).center(10))

    *
   * *
  * * *
 * * * *
* * * * *

In [14]:
for i in range(1,6):
    print(" "*(5-i),end='')
    for j in range(1,i+1):
        print(j,end=' ')
    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [15]:
for i in range(1,6):
    print(" "*(5-i),"*"*i)

     *
    **
   ***
  ****
 *****

In [16]:
for i in range(1,6):
    print(" "*(5-i),end='')
    for j in range(1,i+1):
        print(j,end='')
    print()

    1
   12
  123
 1234
12345

In [17]:
for i in range(1,6):
    print(("*"*(2*i-1)).center(9))

    *
   ***
  *****
 *******
*********

In [18]:
for i in range(1,6):
    print((f"{i}"*(2*i-1)).center(9))

    1
   222
  33333
 4444444
555555555

In [19]:
for i in range(1,6):
    print(" "*(5-i),end='')
    for j in range(1,2*i):
        print(j,end='')
    print()

    1
   123
  12345
 1234567
123456789

In [20]:
for i in range(1,6):
    print(("* "*(2*i-1)).center(18))

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [21]:
for i in range(1,6):
    print(" "*(5-i),end='')
    for j in range(i,2*i):
        print(j,end='')
    for j in range(2*i-2,i-1,-1):
        print(j,end='')
    print()

    1
   232
  34543
 4567654
567898765

In [22]:
for i in range(0,5):
    print(" "*(4-i),end='')
    for j in range(5,5-i,-1):
        print(j,end='')
    for j in range(5-i,6):
        print(j,end='')
    print()

    5
   545
  54345
 5432345
543212345

In [23]:
for i in range(5,0,-1):
    print(" "*(5-i),"*"*(2*i-1))

 *********
  *******
   *****
    ***
     *

In [24]:
for i in range(5,0,-1):
    print(" "*(5-i),f"{i}"*(2*i-1))

 555555555
  4444444
   33333
    222
     1

In [25]:
for i in range(5,0,-1):
    print(" "*(5-i),end='')
    for j in range(1,2*i):
        print(j,end='')
    print()

123456789
 1234567
  12345
   123
    1

In [26]:
for i in range(5,0,-1):
    print(" "*(5-i),end='')
    for j in range(i,2*i):
        print(j,end='')
    for j in range(2*i-2,i-1,-1):
        print(j,end='')
    print()

567898765
 4567654
  34543
   232
    1

In [27]:
for i in range(5,0,-1):
    print(" "*(5-i),end='')
    for j in range(5,6-i,-1):
        print(j,end='')
    for j in range(6-i,6):
        print(j,end='')
    print()

543212345
 5432345
  54345
   545
    5

In [28]:
for i in range(1,6):
    print(" "*(5-i),"*"*(2*i-1))
for i in range(4,0,-1):
    print(" "*(5-i),"*"*(2*i-1))

     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

In [29]:
for i in range(1,6):
    print(" "*(5-i),f"{i}"*(2*i-1))
for i in range(4,0,-1):
    print(" "*(5-i),f"{i}"*(2*i-1))

     1
    222
   33333
  4444444
 555555555
  4444444
   33333
    222
     1

In [30]:
for i in range(1,6):
    print(" "*(5-i),end='')
    for j in range(1,2*i):
        print(j,end='')
    print()
for i in range(4,0,-1):
    print(" "*(5-i),end='')
    for j in range(1,2*i):
        print(j,end='')
    print()

    1
   123
  12345
 1234567
123456789
 1234567
  12345
   123
    1

In [31]:
for i in range(1,6):
    print(" "*(5-i),end='')
    for j in range(i,2*i):
        print(j,end='')
    for j in range(2*i-2,i-1,-1):
        print(j,end='')
    print()
for i in range(4,0,-1):
    print(" "*(5-i),end='')
    for j in range(i,2*i):
        print(j,end='')
    for j in range(2*i-2,i-1,-1):
        print(j,end='')
    print()

    1
   232
  34543
 4567654
567898765
 4567654
  34543
   232
    1

In [32]:
for i in range(5,0,-1):
    print(" "*(i-1),end='')
    for j in range(5,i-1,-1):
        print(j,end='')
    for j in range(i+1,6):
        print(j,end='')
    print()
for i in range(4,0,-1):
    print(" "*(5-i),end='')
    for j in range(5,6-i,-1):
        print(j,end='')
    for j in range(6-i,6):
        print(j,end='')
    print()

    5
   545
  54345
 5432345
543212345
 5432345
  54345
   545
    5

In [33]:
for i in range(1,8):
    print("*"*7)

*******
*******
*******
*******
*******
*******
*******

In [34]:
for i in range(1,8):
    if i == 1 or i == 7:
        print("*"*7)
    else:
        print("*"," "*(5),"*",sep='')

*******
*     *
*     *
*     *
*     *
*     *
*******

In [35]:
for i in range(3,0,-1):
    print("*"*(3-i),"\\","*"*(2*i-1),"/","*"*(3-i),sep='')
print("*"*3,"\\","*"*3,sep='')
for i in range(1,4):
    print("*"*(3-i),"/","*"*(2*i-1),"\\","*"*(3-i),sep='')

\*****/
*\***/*
**\*/**
***\***
**/*\**
*/***\*
/*****\

In [36]:
n = int(input("Enter a number : "))
a = (n-1)//2
b= (n+1)//2
for i in range(1,n+1):
    if i<(n+1)//2:
        print("*"*(i-1),"\\","*"*(2*(a-i+1)-1),"/","*"*(i-1),sep='')
    elif i == (n+1)//2:
        print("*"*a,"\\","*"*a,sep='')
    else:
        print("*"*(n-i),"/","*"*(2*(i-b)-1),"\\","*"*(n-i),sep='')

Enter a number : 7
\*****/
*\***/*
**\*/**
***\***
**/*\**
*/***\*
/*****\

In [37]:
n = int(input("Enter a number : "))
for i in range(1,n+1):
    if i<(n+1)//2:
        print((".|."*(2*i-1)).center(3*n,'-'))
    elif i == (n+1)//2:
        print("WELCOME".center(3*n,'-'))
    else:
        print((".|."*(2*(n-i+1)-1)).center(3*n,'-'))

Enter a number : 10
-------------.|.--------------
----------.|..|..|.-----------
-------.|..|..|..|..|.--------
----.|..|..|..|..|..|..|.-----
-----------WELCOME------------
-.|..|..|..|..|..|..|..|..|.--
----.|..|..|..|..|..|..|.-----
-------.|..|..|..|..|.--------
----------.|..|..|.-----------
-------------.|.--------------

In [38]:
for i in range(9,-1,-1):
    s=''
    for j in range(9,i-1,-1):
        s=s+chr(97+j)+' '
    for j in range(i+1,10):
        s = s+chr(97+j)+' '
    s=s.rstrip()
    l = s.split(' ')
    print("-".join(l).center(37,'-'))
for i in range(9,0,-1):
    s=''
    for j in range(9,9-i,-1):
        s=s+chr(97+j)+' '
    for j in range(11-i,10):
        s=s+chr(97+j)+' '
    l = s.split(' ')
    print("-".join(l).center(37,'-'))

------------------j------------------
----------------j-i-j----------------
--------------j-i-h-i-j--------------
------------j-i-h-g-h-i-j------------
----------j-i-h-g-f-g-h-i-j----------
--------j-i-h-g-f-e-f-g-h-i-j--------
------j-i-h-g-f-e-d-e-f-g-h-i-j------
----j-i-h-g-f-e-d-c-d-e-f-g-h-i-j----
--j-i-h-g-f-e-d-c-b-c-d-e-f-g-h-i-j--
j-i-h-g-f-e-d-c-b-a-b-c-d-e-f-g-h-i-j
--j-i-h-g-f-e-d-c-b-c-d-e-f-g-h-i-j--
----j-i-h-g-f-e-d-c-d-e-f-g-h-i-j----
------j-i-h-g-f-e-d-e-f-g-h-i-j------
--------j-i-h-g-f-e-f-g-h-i-j--------
----------j-i-h-g-f-g-h-i-j----------
------------j-i-h-g-h-i-j------------
--------------j-i-h-i-j--------------
----------------j-i-j----------------
------------------j------------------